#main-svg {
  background-color: #8baad4;
}

#countries {
  fill: white;
  stroke: white;
}

.server {
  fill: #45e888;
  stroke: #45e888;
}

.attacker {
  fill: red;
  stroke: red;
  cursor: pointer;
}

.zoom-controls {
  text-align: center;
}

.zoom-el {
  font-size: 20px;
  font-weight: bolder;
  font-family: cursive;
  display: inline-block;
  margin: 0px 20px 10px;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  width: auto;
  opacity: 0;
  border: 1px solid #eb4a49;
  background: #fff;
}

.tooltip td {
  font-size: 12px;
  padding: 8px 15px;
}

.tooltip tr:first-child td {
  border-bottom: 1px solid #f4f5f8;
}

.attacks-location {
  color: #bebec1;
}

.attacks-count {
  color: #35373a;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
